.savedSpeeches {
  .mantine-1jxo37w:focus {
    outline: none;
  }
  .mantine-aaq002:focus {
    color: $navyBlur;
  }
}
.levelSpeech {
  .mantine-Input-input {
    border-radius: 1.5rem;
    height: 2.7rem;
  }
}
