.radioCustom {
  .mantine-1cu6yj8 {
    cursor: pointer;
  }
  .mantine-1cu6yj8:checked {
    background: #1f4172;
    border-color: #1f4172;
  }
}
.hover:hover {
  background-color: rgba(31, 65, 114, 0.1);
  border-radius: 5px;
}
.hover {
  cursor: pointer;
  .mantine-kio8dk {
    background-color: #1f4172;
  }
}
