$font-family-base: "Be Vietnam Pro", sans-serif;

$font-size-small: 12px;
$font-size-base: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;

$flashWhite: #f0f0f0;
$milkWhite: #fefaf6;
$pinkBackground: rgba(255, 239, 224, 0.1);
$pinkWhite: #fdf0f0;
$pinkPastel: #f1b4bb;
$pinkPastelLight: #ffcad4;
$pinkDark: #f582a7;
$pinkDarkLight: rgba(245, 130, 167, 0.1);
$navyBlur: #1f4172;
$navyBlurLight: rgba(31, 65, 114, 0.1);
$navyDark: rgb(19, 32, 67);
$navyDarkLight: rgba(19, 32, 67, 0.1);
$yellowBrown: rgb(255, 196, 112);
$white: #fff;
$black: #000;
$brown: #2c1e1f;
